fastapi
uvicorn
python-multipart
langchain
langgraph
langchain-openai
langchain-community
chromadb
langchain-chroma
psycopg[binary]
pypdf
python-dotenv
langgraph-checkpoint-postgres
psycopg_pool
pydantic-settings
sentence-transformers
redis<5.0.0